{% extends "news_site/base.html" %}
	{% block title %}Помочь проекту{% endblock %}
	{% block body %}
		<p>Проекту Свободная Лента требуются:</p>
		<ul>
			<li>Python/Django программист (для поддержания сайта и расширения функционала)</li>
			<li>Android разработчик (для разработки приложения под Android)</li>
			<li>iOS разработчик (для разработки приложения для айфона)</li>
			<li>Журналисты/авторы статей</li>
		</ul>	
		<p>Проект некоммерческий, поэтому денег для оплаты работы нет! Все услуги только на добровольных началах! <br />
		По всем вопросам обращаться по адресу: <i>freelenta@gmail.com</i>
		</p>
	{% endblock %}